[2017-01-26 22:27] aforsythe opened #1 "Add README.md"
Add a README.md file to the repo with information.  Use the following gist as a guide https://gist.github.com/jxson/1784669

[2017-01-26 22:53] aforsythe opened #2 "Create unit tests"
Create a set of unit tests to validate code

[2017-01-26 22:55] aforsythe opened #3 "Add TravisCI integration"
Add Travis CI integration for automated testing of future changes.

[2017-01-26 22:57] aforsythe opened #4 "Create Wiki documentation"
Create Wiki documentation with details of usage, options, etc.

[2017-01-27 00:11] miaoqi opened #5 "Add cmake support for Linux"
Update CMakeLists to make rawtoaces compatible with Linux.

[2017-01-27 00:20] aforsythe opened #6 "Code cleanup and comments"
Do some high level code refactoring and add comments to the code for better readability

[2017-02-22 21:30] #1 closed, assigned to miaoqi

[2017-02-23 02:11] aforsythe opened #9 "Update help"
Currently the help message is based on the one that the `libraw` utility uses to mimic `dcraw`.  This message may include options which aren't relevant to `rawtoaces`.  In addition, the help doesn't specify how to use the options associated with building an IDT from spectral sensitivity data.

[2017-02-23 02:16] aforsythe opened #10 "Add usage information to README"
Usage information to [`README.md`](https://github.com/ampas/rawtoaces/blob/master/README.md)

[2017-02-23 02:18] aforsythe opened #11 "Add "known issues" section to README"
Add known issues to [`README.md`](https://github.com/ampas/rawtoaces/blob/master/README.md).  Include features not yet implemented such as DNG support.

[2017-02-23 18:05] #5 closed, assigned to miaoqi

[2017-02-24 00:27] aforsythe opened #12 "Add options to override default WB and Matrix methods"
There are 3 methods to calculate the white balance values and the cameraRGB to ACES matrix:

1. spectral sensitivity method
2. camera metadata method
3. libraw method

By default the methods will execute in that order falling back only if there is not enough information to execute the preferred method (e.g. no camera spectral sensitivity data for the camera is available).

Command line options sho

[2017-02-24 00:35] aforsythe opened #13 "Calculation of closest spectral calculated WB value and camera metada WB always results in D75"
When the camera white balance values are calculated from the camera spectral sensitivities and illuminant spectra those values need to be compared to the camera metadata white balance values for the picture being processed to determine the scene adopted white and final white balance values to be used.  This comparison appears to be erroneously determining that D75 is the scene adopted white and th

[2017-02-26 09:10] aforsythe opened #14 "Include path in all caps"
The path to the includes is currently `/usr/local/include/RAWTOACES/`  It should probably be `/usr/local/include/rawtoaces/`

[2017-03-11 00:02] #6 closed, assigned to miaoqi

[2017-03-11 00:02] #9 closed, assigned to miaoqi

[2017-03-11 00:02] #12 closed, assigned to miaoqi

[2017-03-11 00:02] #13 closed, assigned to miaoqi

[2017-03-11 00:02] #14 closed, assigned to nobody

[2017-03-15 21:24] #10 closed, assigned to miaoqi

[2017-03-15 21:25] #11 closed, assigned to miaoqi

[2017-03-16 21:08] aforsythe opened #21 "Update library name"
Update library name from `librawtoacesIDT.dylib` to `librawtoaces.dylib`

[2017-03-18 01:23] KelSolaar opened #24 "Severe quantization issues with Canon CR2 files."
Hi,

I performed some initial tests using [some of my Canon 5D Mark II CR2 files](https://github.com/colour-science/colour-hdri-examples-dataset/tree/master/frobisher_001) and experienced some severe quantization issues:

![image](https://cloud.githubusercontent.com/assets/99779/24067669/b89515aa-0be4-11e7-9bce-f38e8206db16.png)

- [IMG_2601_colour-hdri.exr (203MB)](https://drive.google.com/open?i

[2017-03-22 21:22] #24 closed, assigned to nobody

[2017-03-22 22:09] miaoqi opened #26 "use JSON file for data"
As @lchen198 suggest, there should be a common and standard format to host the data such as camera spectral sensitivity data.  "JSON" is one choice.

[2017-03-22 22:11] miaoqi opened #27 "use an existing math library"
As @lchen198 suggested, a more robust math library should be used instead of the self-developed low-level math functions.

[2017-03-22 22:12] miaoqi opened #28 "Code formatting tool"
As @lchen198 suggested, a language formatting tool should be used to make the code look more organized.

[2017-03-22 22:16] miaoqi opened #29 "Search path via environment variable"
As @KelSolaar suggested, VFX developers tend to use environment variable to set up a search path for camera spectral sensitivity. That way, it is easier to maintain their own dataset.

[2017-03-24 17:51] scottdyer opened #30 "Change "Illuminate" to "Illuminant""
I recognize this is a really stupid issue and _extremely_ minor in the grand scheme of things, but it's driving me crazy as I read the code.

At some point can we please do a find and replace across all files to change "**Illuminate**" (a verb) to "**Illuminant**" (a noun)?

[2017-03-28 01:07] miaoqi opened #32 "Highlights recovery when "--mat-method = 1""
with using color matrix from file metadata, the whites are not exactly white.

[2017-04-03 03:06] scoopxyz opened #33 "spectral IDT matrix debug view"
It would be a nice feature to be able to view the results of an IDT calculation from spectral data along with some statistic of the regression performed.

Ideally this would be possible without providing an input image, but should also be available at a certain level of verbosity when processing an image.

[2017-04-04 17:08] aforsythe opened #34 "D700 Files incorrectly identified as Arri D21 Files"
Tested at https://github.com/miaoqi/rawtoaces/commit/57c869ab34b8b72b982003f39edb629b7ceaf7c9

Nikon D700 NEF files incorrectly identified as Arri D21 files

Test files can be found here :
https://www.dropbox.com/sh/lvsruq276jx1pjb/AAD2otMMtN71eKpUBrInjAzOa?dl=0

`rawtoaces DSC_0130.NEF`

`/usr/local/include/rawtoaces/data/camera/Arri_D21_380_780_5(1): expected value
Please double check the Camera

[2017-04-04 17:09] aforsythe opened #35 "Arri D21 spec sens identified as invalid range"
Tested at https://github.com/miaoqi/rawtoaces/commit/57c869ab34b8b72b982003f39edb629b7ceaf7c9

Arri D21 spec sens identified as invalid having range

`/usr/local/include/rawtoaces/data/camera/Arri_D21_380_780_5(1): expected value
Please double check the Camera Sensitivity data (e.g. the increment should be 5nm from 380nm to 780nm).`

[2017-04-04 17:10] aforsythe opened #36 "Highlights Clipping to 1.0"
Tested at https://github.com/miaoqi/rawtoaces/commit/57c869ab34b8b72b982003f39edb629b7ceaf7c9

Highlights are clipping to ~1.0.  The attached NEF is overexposed by 2 stops from normal.  `rawtoaces` seems to respect the overexposure level, but clips to ~1.0 though the blue channel goes about 1.0 seemingly due to white balance.

Test files can be found here :
https://www.dropbox.com/sh/lvsruq276jx1p

[2017-04-10 16:53] #34 closed, assigned to nobody

[2017-04-10 16:55] #35 closed, assigned to nobody

[2017-04-10 17:03] #21 closed, assigned to nobody

[2017-05-20 01:19] scottdyer opened #38 "Typo in --version flag"
Typo in help file and README:
```--verison               Show version```
should be
```--version               Show version```

[2017-05-20 01:33] KelSolaar commented on #26
Just pushing that from Slack for further discussion regarding #31:

Almost complete for me so in the light of doing that there might be some small changes to do, essentially attribute names, taking the stuff I was saying before:

- Both `model` and `catalog_number` are in use, any reasons for using both?
- Would like to rename `api_version` to `schema_version`.
- Tempted to rename `spectral_data`

[2017-05-20 08:21] miaoqi commented on #30
Closes issue#30

[2017-05-20 08:23] miaoqi commented on #30
This has been fixed. Please close #30

[2017-05-20 08:24] miaoqi commented on #32
I think this has been discussed and addressed. Perhaps we can close #32 for now.

[2017-05-21 07:36] miaoqi opened #40 "Default value and renaming for "exp-comp""
The default value of 1.0 for exp-comp needs to be changed to a higher value. Also, the name of this parameter needs to be changed to “headroom”. Since a headroom factor of 1.0 is not a normal exposure. It was suggested that a default headroom factor of 8 should be used.

[2017-05-21 07:37] miaoqi opened #41 "Neutral clipping issue for some cameras"
The Canon 1D MkIV, Fujifilm S5, Nikon D700 and Nikon D7000 did not have neutral clipping, due to the saturation point in the raw files being lower than the encoding maximum in some channels. Some information should be provided in the "README" about using the –S parameter to address this.

[2017-05-21 07:39] miaoqi opened #42 "Usage of the "-b" flag"
It was suggested that the use of the "–b" parameter should be discouraged to avoid unnecessary clipping.

[2017-05-21 07:40] miaoqi opened #43 ""as-shot" channel multipliers not being used"
The "as-shot" channel multipliers are not being used when no illuminant is specified.

[2017-05-21 07:42] miaoqi commented on #43
This is corrected in 2674e9ac4caf4db3f89ce9c26874168c357439fe

Closes #43

[2017-05-21 07:42] #43 closed

[2017-05-21 07:43] miaoqi opened #44 "A possible issue with calculating the closest illuminant"
The illuminant chosen was not the closest one to the "as-shot" white balance.

[2017-05-21 07:47] miaoqi commented on #44
This has been discussed by referencing printed values of white balance coefficients and error for each illuminant. It was suggested to be an issue with the Ps5 calculated CCT and tint values, not "rawtoaces".

[2017-05-21 07:47] #44 closed

[2017-05-22 16:41] #38 closed

[2017-05-22 17:05] #30 closed

[2017-05-22 17:35] scottdyer opened #45 "Fill out info in README about camera spectral sensitivity data format"
There is placeholder in README for info about the data format. Details should be provided about what rawtoaces looks for and what fields in JSON are essential for rawtoaces to pick up on the user-added data. e.g. what is the formatting and origin of "proper" strings for the fields found in "header"?

[2017-05-23 17:34] miaoqi opened #46 "Usage of "as-shot" white balance coefficients when "--wb-method == 0""
It is suggested that if "--wb-method" is set to 0, the "as-shot" coefficients should be used; if "--wb-method" is set to 0 and a specific illuminant is mentioned by users, the calculated white balance coefficient will be used.

[2017-05-23 20:12] KelSolaar commented on #45
I have started to write the JSON Schema for the format and there were some breaking stuff to be addressed as per #26.

The schema is as follows with description of what fields are [and can/must be validated](http://www.jsonschemavalidator.net/):

[code]

[2017-05-26 16:18] agentirons opened #48 "Exposure/White Balance showing dark and green with default settings"
I am testing out rawtoaces on OS X 10.11.6 using homebrew and the rawtoaces installation guide. I wanted to use raws from cameras that already had included spectral sensitivity data, so I found a Canon 5D Mark II and a Nikon D7000 shot from the following links:

https://www.dpreview.com/reviews/canoneos5dmarkii/33
https://www.dpreview.com/reviews/nikond7000/21

I'm not sure exactly what to expect,

[2017-05-26 16:49] aforsythe commented on #48
@agentirons We've been seeing the same thing with some cameras.  @miaoqi and @scottdyer are trying to track down the bug.

[2017-05-26 16:57] aforsythe opened #49 "Unresolved symbols while building"
downloaded "github.com/ampas/rawtoaces" and tried to compile, but it looks like I have some unresolved symbols?

I did the mandatory..

    $ mkdir build && cd build
    $ cmake ..
    $ make
    $ sudo make install

cmake said this:

	-- The C compiler identification is unknown
	-- The CXX compiler identification is unknown
	-- Check for working C compiler: /usr/bin/cc
	-- Check for working C com

[2017-05-26 18:43] andyp6 opened #51 "Invalid illuminants"
Entering D55 as shown in the example string in the README produces an error:

`$ rawtoaces --wb-method 0 D55 --mat-method 0 input.raw`

[code]

Running --valid-illum produces the following list

[code]
d50 seems to be a higher precision version of cie15-d50 but is there need for both?

[2017-05-26 22:38] miaoqi commented on #49
What OS were you using? Ubuntu under WIN10?  I have installed it in Ubuntu many times and there are no issues.

This is probably the cause:

"
-- Looking for include file pthread.h
-- Looking for include file pthread.h - found
-- Looking for pthread_create
-- Looking for pthread_create - not found
-- Looking for pthread_create in pthreads
-- Looking for pthread_create in pthreads - not found
-- Lo

[2017-05-28 08:52] scottdyer commented on #45
In addition to the labeling/data-identification requirements previously mentioned, documentation should also include details of how data is spaced for internal calculations and describe range, increment, and normalization requirements for data that is added by the user.
Extended documentation should make clear whether or not interpolation/extrapolation is done by rawtoaces or if such processing sh

[2017-05-28 14:20] giardiello opened #52 "Abort trap: 6"
Hi!
Trying to use the tool to debayer a Sony Alfa 7 s II .ARW file.
Every time get into the same issue:

 Assertion failed: (outputBufferSize < 150e6), function configure, file /Users/giardiello/aces_container/aces_Writer.cpp, line 212.
Abort trap: 6

Any suggestion?

[2017-05-30 06:10] miaoqi commented on #52
Hi @giardiello, thanks for pointing it out! Since one of the dependencies - "aces_container" currently has the size restraint for the output, please use the following flag (-h: half size) for "rawtoaces" if you can:

rawtoaces -h input.raw

[2017-05-30 07:53] giardiello commented on #52
Thanks. Figured it and done it, it works. I will run more tests now.

Thanks,

Il giorno 30/mag/2017, alle ore 07:10, Miaoqi Zhu <notifications@github.com> ha scritto:

[2017-05-30 09:37] KevinJW commented on #48
I think you are seeing the results of at least two things here:

The Adobe standard profile does far more artistic adjustments than the RAW to ACES tool is intended to do, so it is not expected to output images that look the same even under ACES RRT+ODT viewing.

Looking at the Finder view - this I think is more correct, so there must be something odd about the After Effects setup you have - I can

[2017-05-30 15:52] #52 closed

[2017-05-30 16:14] agentirons commented on #48
Finder is just doing a linear->sRGB curve, so I can get the same look in After Effects using the nuke-default OCIO config. So in that regard, I'm confused about how different programs treat exposure - if the camera itself, Adobe, and various raw processing programs all agree on one exposure even with various color differences, but the rawtoaces pipeline gives a 2 stop lower exposure, is someone 'r

[2017-05-30 20:26] miaoqi opened #56 "Non-numeric argument to "-H""
The numeric parameter of "-H" (highlight) cannot be recognized.

[2017-05-30 22:52] agentirons commented on #48
![libraw_comparison](https://cloud.githubusercontent.com/assets/17654661/26608019/3b7adbba-454e-11e7-9b87-f83bdad26953.jpg)

So for comparison, on the left here is what you get by using
`$ rawtoaces --wb-method 1 --mat-method 1 _Canon5Dm2.cr2_`

rawtoaces gave me this output:
`Warning: Cannot find color profile from the RAW, will use the default camera matrix from libraw

The White Balance Coeffic

[2017-05-31 00:04] KelSolaar commented on #48
For reference this is the output I get using my own tools, i.e. quite similar to *rawtoaces* in term of exposure:

![image](https://cloud.githubusercontent.com/assets/99779/26609985/e0c2fc7e-45f8-11e7-9511-e0d5572a88db.png)

The overexposure and contrast you see in the ACR image is typical from the default ACR tonecurve that shipped with all the Adobe .dcp camera profiles.

[2017-06-01 15:50] scottdyer opened #58 ".DS_store files"
It appears that every time I reinstall to test updates, cmake is moving .DS_store files from `../rawtoaces/data/camera` into `/usr/local/include/rawtoaces/data/camera`

In the install configuration I'm seeing this line:
`-- Installing: /usr/local/include/rawtoaces/data/camera/.DS_Store`

which, when I try to run rawtoaces, gives me this error

[code]

Removing the files fixes the issue, but I can

[2017-06-01 17:25] miaoqi commented on #58
I agree and I thought about this issue before. I have added ".DS_store" in the ".gitignore".

I can add something in the code to skip this kind of files. I should have added something a while ago, I thought this may make the code look a little  trivial thus I was hesitating. I agree that it is important.

[2017-06-02 00:00] #49 closed

[2017-06-02 00:00] #56 closed

[2017-06-02 00:00] #26 closed

[2017-06-02 00:00] #27 closed

[2017-06-02 00:00] #29 closed

[2017-06-02 00:00] #32 closed

[2017-06-02 00:00] #33 closed

[2017-06-02 00:00] #46 closed

[2017-06-02 00:19] aforsythe commented on #51
We're doing some major cleanup here.  @miaoqi is working on functions for daylight and planckian sources.  We'll then only have to read in sources from files like fluorescent lamps, HMI, etc.

[2017-06-02 00:35] aforsythe commented on #48
@agentirons I think we squished the white balance bug with #57
Can you test it out?  I also think @KelSolaar is correct regarding the exposure.  You can use --exp-comp to adjust during the conversion, but I think this stems from different cameras using different amounts of headroom for highlights below sensor saturation.  We're exploring ways to handle this more gracefully.

[2017-06-02 01:10] #58 closed

[2017-06-02 01:38] KelSolaar commented on #48
@aforsythe : Yeah, the Adobe DNG SDK has a `baseline_exposure` tag in that regard. I think it is 0.4 for example in the case of the Mark II and the above photo.

**Baseline Exposure**
[code]

[2017-06-02 06:41] miaoqi opened #63 "Outdated details on "--wb-method 0" and "--wb-method 1" in "README.md""
Please update few sections (e.g., Help message) in "README.md" to correct the details on how to use "--wb-method 0" and "--wb-method 1"

[2017-06-02 18:28] #63 closed

[2017-06-02 21:35] agentirons commented on #48
Thanks, @aforsythe, I can confirm that #57 indeed fixed the white balance for both cameras, using the aces_1.0.3 OCIO config in After Effects or dropping into an ACEScc Resolve 14 Beta project. By adjusting the exposure manually both stills look like they could have come from the same camera as one would expect, so that is a relief to see.

As for exposure, @KelSolaar's description of Baseline Exp

[2017-06-02 22:22] KelSolaar commented on #48
There is no guarantee that two camera vendors will use the same exposure metering calibration unfortunately. Using the same exposure settings between two different cameras will get you in the ballpark but if you are expecting to be exact, unfortunately it is game over. Vendors adopts different calibration constants `K`,  [ISO 2720:1974(]https://en.wikipedia.org/wiki/Light_meter#Calibration_constan

[2017-06-05 02:29] KelSolaar opened #66 "Fix broken links in "README.md" file."
A ton of links are broken in the "README.md" file and need to be fixed, e.g. `[http://www.libraw.org/download]()` ---> `[http://www.libraw.org/download](http://www.libraw.org/download])`.

[2017-06-05 04:24] KelSolaar opened #67 "Building on Windows."
Hi,

I'm trying to build on Windows and I'm not exactly sure how to pass the various dependencies includes and libraries directories to *CMake* and it is very likely that the various `find_package` macros will not on our system.

Here is my current log:

[code]

[2017-06-05 06:33] miaoqi commented on #67
Let me finish a few more core features now and get back to this.

I did try to generate VS solution before using CMAKE with a similar settings in the configure file. I had the same problem when it comes to IlmBase. I did get a solution file though. Then I needed to open it to continue downloading and compilation for "IlmBase".

This part of "CMakeLists.txt" should do something:

`include(ExternalP

[2017-06-05 06:42] miaoqi commented on #67
Getting "Ceres::Solve" built on Windows will be more complicated. Please see the following from its website on Installation

"
On Windows, we support building with Visual Studio 2010 or newer. Note that the Windows port is less featureful and less tested than the Linux or Mac OS X versions due to the lack of an officially supported way of building SuiteSparse and CXSparse. There are however a numb

[2017-06-05 07:06] KelSolaar commented on #67
Yeah Ceres is a royal pain, hence my comment on Slack, oh and this was my facebook status earlier:

I managed to build a version without _glog_ and _gflags_, I had some nasty compiler errors happening when including _eigen_ otherwise.

[2017-06-05 07:16] KelSolaar commented on #67
Ideally and whatever the platform is, I would like to be able to pass arguments to *CMake*, something along those lines:

_Ceres Solver_ has actually a very nice configuration in that regard.

[2017-06-05 11:54] KelSolaar commented on #67
About Ceres on Windows: https://groups.google.com/forum/#!topic/ceres-solver/cR8SSDPFvAk

[2017-06-05 19:43] miaoqi commented on #67
Probably need to add a few more "FindPackage.cmake" files to get these variables defined so you can pass stuff to CMake. In fact, as your mentioned, "Cere Solver" already has them.

[2017-06-05 20:11] KelSolaar commented on #67
Yeah, I managed very difficulty to compile Ceres with glog and gflags support yesterday night, everything needs to be dynamically linked among other things.

[2017-06-05 22:10] miaoqi opened #69 "python binding"
@KelSolaar , can you help me look into the possibility of creating Python bindings? I prefer Boost.python so we do not need to have another library to depend on. I can tweak C++ APIs to create reasonable python interfaces.

[2017-06-05 22:32] KelSolaar commented on #69
Sounds good with me, I'll have to think about it a bit.

[2017-06-09 16:52] aforsythe commented on #45
Closed with #55

[2017-06-09 16:52] #45 closed

[2017-06-09 17:23] miaoqi opened #70 "Non-numeric argument to '-c' error"
'-c' flag does not work properly. A solution is proposed by Tim Edelmann via "ACES Central".

[2017-06-09 20:25] #70 closed

[2017-06-09 21:21] KelSolaar commented on #69
Are you planning to build a doc for the C/C++ API, it would help to read through the internals.

[2017-06-09 21:22] aforsythe commented on #69
I’ve started to move stuff from the README to the wiki.
Would that be a good place to put it, or should it live in the main repo?

Alex

[Δ]<http://www.oscars.org>

Alex Forsythe
Image Engineering Manager

Academy of Motion Picture Arts and Sciences
Science & Technology Council
1313 Vine Street • Hollywood, CA 90028

323.817.4170 • aforsythe@oscars.org<mailto:aforsythe@oscars.org>

[2017-06-09 21:29] KelSolaar commented on #69
The Wiki is probably a good place for a lot of things, I was thinking more about the technical documentation about the functions, etc... I'm not sure what is the plan for the tool but as @miaoqi was talking about a Python API, I was assuming that it could be used as an exe but also as a library that you can link to which in that case would require a proper C/C++ API documentation.

[2017-06-09 21:49] KelSolaar opened #72 "About removing the "catalog_number" attribute from "JSON" dataset."
I would be keen to remove the `catalog_number` attribute which is kind of redundant and does not bring anything informative to the table: https://github.com/ampas/rawtoaces/blob/master/data/camera/arri_d21_380_780_5.json#L6

The less stuff/fluff, the better :)

[2017-06-27 21:35] agentirons opened #79 "Assertion Failure with Canon 5DS and Sony a7rm2"
I was testing the new aces-gain flag against various sample images and found two that gave the following error in OS X 10.11.6 using the latest rawtoaces master:

`Assertion failed: (outputBufferSize < 150e6), function configure, file /Users/jonathon/aces_container/aces_Writer.cpp, line 212.
Abort trap: 6`

The two affected cameras are the Canon 5DS (using --wb-method 0 and --mat-method 1) and the

[2017-06-27 21:39] miaoqi commented on #79
Hi, for large files, please use "-h" flag. We could make the file size threshold larger, but we will use "150e6" now. Thanks!

[2017-06-27 21:48] agentirons commented on #79
Got it, thanks!

[2017-06-27 21:48] #79 closed

[2017-06-27 21:52] agentirons commented on #48
Closing this issue now that white balance is fixed in latest master branch and --aces-gain flag has been added.

[2017-06-27 21:52] #48 closed

[2017-06-27 22:07] aforsythe commented on #72
This issue was moved to http://www.acescentral.com/t/about-removing-the-catalog-number-attribute-from-json-dataset/1146

[2017-06-27 22:07] aforsythe commented on #3
This issue was moved to http://www.acescentral.com/t/add-travisci-integration/1152

[2017-06-27 22:07] aforsythe commented on #4
This issue was moved to http://www.acescentral.com/t/create-wiki-documentation/1151

[2017-06-27 22:07] aforsythe commented on #36
This issue was moved to http://www.acescentral.com/t/highlights-clipping-to-1-0/1149

[2017-06-27 22:07] aforsythe commented on #40
This issue was moved to http://www.acescentral.com/t/default-value-and-renaming-for-exp-comp/1150

[2017-06-27 22:07] aforsythe commented on #41
This issue was moved to http://www.acescentral.com/t/neutral-clipping-issue-for-some-cameras/1148

[2017-06-27 22:07] aforsythe commented on #66
This issue was moved to http://www.acescentral.com/t/fix-broken-links-in-readme-md-file/1147

[2017-06-27 22:07] aforsythe commented on #42
This issue was moved to http://www.acescentral.com/t/usage-of-the-b-flag/1155

[2017-06-27 22:07] aforsythe commented on #51
This issue was moved to http://www.acescentral.com/t/invalid-illuminants/1154

[2017-06-27 22:07] aforsythe commented on #2
This issue was moved to http://www.acescentral.com/t/create-unit-tests/1156

[2017-06-27 22:07] aforsythe commented on #28
This issue was moved to http://www.acescentral.com/t/code-formatting-tool/1153

[2017-06-27 22:07] aforsythe commented on #69
This issue was moved to http://www.acescentral.com/t/python-binding/1144

[2017-06-27 22:07] aforsythe commented on #67
This issue was moved to http://www.acescentral.com/t/building-on-windows/1145

[2017-06-27 22:22] agentirons commented on #66
I believe you can keep this one closed.

[2017-06-27 22:26] aforsythe commented on #66
Ah yes .. it's merged.

Sorry for the flood of emails you probably just got.  I was trying to sync the conversations over here with ACEScentral using an integration.  It didn't make clear it would close all the issues here.  I've reopened them.

[2017-06-27 22:26] #66 closed

[2017-06-27 22:35] aforsythe opened #80 "daylight and blackbody illuminants should be calculated"
Daylight and blackbody illuminants should be calculated from a function rather then read in from a JSON file in the `data` folder.  This will allow for a wider range of illuminants to be used in the creation of the IDT matrix, calculation of white balance factors, and determination of the closest illuminant when asShot wb factors are used.

[2017-06-29 17:22] agentirons commented on #40
Noticed this issue after making a comment about it on the --aces-gain pull request - I've found that 4.0 is much closer to the default rendering from various commercial apps and the in-camera jpg rendering, testing on both Nikon and Canon images.

[2017-07-07 19:57] #80 closed

[2017-07-23 02:49] scoopxyz opened #86 "ACES Container max buffer size - Canon 5D MKII"
**rawtoaces** fails to process Canon 5D MKII images because they are larger than the buffer limitation within ACES Container. Since the CMake is currently pointing to the @miaoqi fork of the project perhaps this should be modified there and then pointed to as the reference source in the README.md instead of the official repo.

This is already referenced in the ACES Containter repo with Scott's iss

[2017-07-23 02:56] scoopxyz commented on #86
I see this was addressed in issue #79

Though I don't see `-h` as a command line option in the command line help. Changing the title of the issue.

[2017-07-27 16:45] scottdyer opened #87 "Better documentation for properly adding ltsrc and specsens to tool"
If I have my own light source or spectral sensitivities, how do I "install" them so that rawtoaces picks up on them? Obviously I can add them to the data directories, but what is the logic that rawtoaces uses to find a particular camera specsens, for example?

Let's say I have a camera file from a Sony a7S I. The tool does not have specsens for this, but let's say that I do. If I add that json fil

[2017-08-24 17:19] agentirons commented on #86
It is currently listed this way in `rawtoaces --help`:
`-h                      Half-size color image (twice as fast as "-q 0")`

Since the outputBufferSize error is currently generated by @miaoqi's aces_container project, would it better to mention using the -h flag for large files in the rawtoaces help entry, or to create a filesize check in rawtoaces so that a warning can be generated before it

[2017-08-25 01:10] miaoqi opened #90 "New Boost may cause "CMake" to generate warnings"
Boost just got upgraded to the newer version - 106500. Since "CMake" is relatively older, the "FindBoost.cmake" is still attached previous Boost.

At this time, you can still compile "rawtoaces" and run it with no issues. If you want to suppress the warnings, you can "brew pin" the old Boost (any version before 106500).

The warning is probably shown as below:

"
-- Found Boost_FOUND, version 1065

[2017-09-15 14:48] andyp6 commented on #87
It looks like it's the model tag that gets used. I nulled the other fields to test and still get results with custom specsens data. The catalogue number seems like an irrelevant requirement too.

[2017-09-15 14:54] andyp6 opened #91 "JSON Schema Validator always gives an error in the license field"
I get an error Null/String error for the 'license' field when validating JSON with custom and the provided specsens data. It can be ignored but obviously is not validating.

`Message:    Invalid type. Expected String but got Null.
Schema path:    properties/header/properties/license#/type`

[2017-09-15 17:26] miaoqi commented on #91
Hi, thanks for the feedback. I went to these two site:

1. https://jsonlint.com/
2. https://jsonformatter.curiousconcept.com/

It looks our current schema and values are valid.

@KelSolaar Hi Thomas, can you take a look? maybe we should need to change it to ""type": ["string", "null"]"

[2017-09-16 13:26] andyp6 commented on #91
I've opened a pull request for this as a license to use spec sens data doesn't appear to be mandatory and I can't see any potential issues.

[2017-09-18 23:45] KelSolaar commented on #91
Sorry for missing that one!

I would argue that putting a license is mandatory at least from a technical perspective. The first thing a company does when using public open source software (or data) is usually to check the license in order to know if the software can be used. If a software has no license, it is typically avoided like highly dangerous plague :)

[2017-09-19 00:51] andyp6 commented on #91
I don't disagree :)

I was looking at it from the perspective of current JSON, non of which specifies a license and therefore does not validate using the schema provided in README.md

[2017-09-19 04:40] KelSolaar commented on #91
I think we talked about it already on Slack. Dragging @aforsythe to the convo as it is important :)

[2017-10-06 20:56] miaoqi commented on #90
Got an update from the most recent "CMake". The warning is gone.

[2017-10-06 20:56] #90 closed

[2017-10-18 17:19] agentirons commented on #40
Considering what I found over in this [acescentral](http://acescentral.com/t/automatic-exposure-compensation-in-raw-processing/1243/4) thread, I wonder if it would in fact make more sense to leave default --headroom at 1.0, knowing now that Canon and Adobe's raw converters are both applying auto exposure compensation on output.

For archival and VFX purposes I'm inclined to want whatever the raw e

[2017-11-22 00:57] agentirons opened #97 "libsuitesparseconfig.4.5.5.dylib "Library not loaded" at runtime on OS X"
OS X El Capitan 10.11.6

Did a ```$ git pull``` on the most recent version of rawtoaces, ran cmake, make, and make install with no errors, then on running rawtoaces I received this output:
[code]
The solution was to update my brewed version of ceres-solver, which needed the command ```$ brew reinstall --HEAD ceres-solver```

I can work on a pull request to update the readme tomorrow with mention o

[2017-11-28 16:38] agentirons commented on #86
Looks like #96 will fix this issue, as the buffer size has already been addressed in the official aces_container repo with miaoqi/aces_container@8ba0982ccfb82c9cc24eb2587bddfc560007b5c3

[2018-01-05 00:14] #41 closed

[2018-01-05 00:18] miaoqi commented on #51
@andyp6 This issue should have been addressed in the current version (0.1.0). Can you close it? Thanks!

[2018-01-05 00:19] #40 closed

[2018-01-05 00:20] #42 closed

[2018-01-05 00:22] miaoqi commented on #36
@aforsythe Has this issue been addressed properly in the current version? Thanks!

[2018-01-07 05:57] andyp6 commented on #51
Sure. Sorry I forgot to close this.

[2018-01-07 05:57] #51 closed

[2018-01-10 00:03] agentirons commented on #97
This issue appears to be fixed with the new Homebrew version of rawtoaces.

[2018-01-10 00:03] #97 closed

[2018-01-10 00:52] agentirons commented on #36
I can confirm that the issue has been addressed in the current version.

Tested using a Canon 60D .cr2 with:
rawtoaces --wb-method 0 --mat-method 1 --headroom 1.0 -H 2

Found plenty of values well over 1.0. Compared the exr in After Effects with the exposure dropped to the .cr2 with the exposure dropped in Adobe Camera Raw, and found the same amount of detail. Thank you for fixing this!

[2018-01-10 01:03] miaoqi commented on #36
@agentirons Thanks for letting us know!

[2018-01-12 23:00] miaoqi commented on #86
@scoopxyz Hi Sean, I believe we have increased the size of output buffer in the latest version of "aces_container". Can you verify it and close this issue? Thanks!

[2018-01-13 01:12] scottdyer opened #99 "Interpolation of data that is not in 5nm increments"
If data is provided at an increment other than 5nm, it would be nice for the tool to eventually interpolate to the internally used increments so that the user does not need to interpolate externally.

This is useful for when data originates at something other than 5nm increments.

[2018-01-13 01:16] scottdyer opened #100 "Better document current constraints on data increments and range"
Provide better information about the format and increments of data. Current documentation is not as clear as it could be.

Example:
Data at 10nm gives the following error.
`Please double check the Camera Sensitivity data (e.g. the increment should be uniform from 380nm to 780nm).`
This error message does not make it clear that the data must be 5nm increments. In fact, it implies that data at any u

[2018-01-13 01:21] scottdyer commented on #100
This is also sort of related to issue #87
In general, any of the tool's limitations as well as expectations for user imported data should be well specified.

[2018-01-13 01:40] miaoqi opened #101 ""rawtoaces" does not support passing of RAW file meta data to the resulting ACES file"
"rawtoaces" does not pass RAW file meta data to the resulting ACES. The issue is related to the fact that "aces_container" does not support writing the optional attributes to the header.

To address this issue,

1). update a function call in "aces_container";
2). map the RAW file meta data into ACES's specification

[2018-01-13 01:48] aforsythe commented on #72
@KelSolaar Do you still feel this is unnecessary?  Are you ok with us just removing this?

[2018-01-13 01:49] aforsythe opened #102 "Bump version number of JSON to 1.0"
After all existing JSON issues are closed the version number of the JSON should be bumped up to 1.0.

[2018-01-13 02:08] KelSolaar commented on #72
I'm absolutely fine with getting rid of it yeah!

[2018-01-13 02:09] KelSolaar commented on #102
Sounds good!

[2018-01-13 02:12] miaoqi commented on #101
Find the data structure of returned meta data from the RAW by "libraw":

https://www.libraw.org/docs/API-datastruct-eng.html#libraw_iparams_t

We can map members inside "libraw_iparams_t" to the matching optional attributes in ACES specification.

[2018-01-15 18:28] agentirons opened #103 "Auto Correction of Hot Pixels"
I can't seem to find any info on whether dcraw has already implemented this, but it would be great to have an option for interpolating around hot pixels in the raw image data automatically, rather than manually using a dark frame for each camera.

[Ufraw](http://ufraw.sourceforge.net/) seems to have added this as a feature, so that may be a good starting point.

[2018-01-16 09:23] KevinJW commented on #101
There have, in the past, been some discussions on adding EXIF data to OpenEXR on the development mailing list. You might want to check there as standardisation would be very useful to get vendors to support reading the data correctly. e.g. for HDRI image merging etc.

Kevin

[2018-01-16 09:59] KelSolaar commented on #101
Yes! I will also chase with Mathias / ILM folks the status.

[2018-01-17 01:53] miaoqi commented on #103
I think "libraw" will fix the hot spots before demonsaicing . You can also post a question on libra's forum.

[2018-01-17 01:55] miaoqi commented on #102
@KelSolaar @aforsythe  where is the latest specification for JOSN 1.0? also what should we do with the "license" field?

[2018-01-17 02:14] KelSolaar commented on #102
The spec is for now still in the README file: https://github.com/ampas/rawtoaces#json-schema-for-spectral-datasets

I strongly think this is a required/mandatory field, actually even more than last time we talked about it with people here.

[2018-01-19 19:45] miaoqi commented on #102
Hi, any thoughts for the "license" field?

Thanks!

[2018-01-20 04:51] KelSolaar commented on #102
@miaoqi  as I said above:

[2018-01-20 08:08] miaoqi commented on #102
@KelSolaar I undersand. Any suggestions on what it should be like?

[2018-01-20 08:12] KelSolaar commented on #102
Oh well, it is Academy duty to decide what is the appropriate license for its data :)

[2018-01-20 16:49] aforsythe commented on #102
I’m looking into what license requirements make sense

[Δ]<http://www.oscars.org>

Alex Forsythe
Image Engineering Manager

Academy of Motion Picture Arts and Sciences
Science & Technology Council
1313 Vine Street • Hollywood, CA 90028

323.817.4170 • aforsythe@oscars.org<mailto:aforsythe@oscars.org>

Oh well, it is Academy duty to decide what is the appropriate license for its data :)

—
You are

[2018-03-07 21:05] maxnbk opened #104 "Assertion fails, core dumps"
rawtoaces: [...]/src/rawtoaces/lib/rta.cpp:814: int rta::Idt::loadIlluminant(const std::vector<std::basic_string<char> >&, std::string): Assertion `paths.size() > 0 && !type.empty()' failed.
Aborted (core dumped)

[2018-03-07 21:08] maxnbk opened #105 "data path not relocateable"
in acesrender.cpp, the illuminant and camera data path defaults to "/usr/local/include/rawtoaces/data/illuminant", but a build which uses a CMAKE_INSTALL_PREFIX to be installed elsewhere will not have data there. The default path for the data files should be parameterized by the passed CMAKE_INSTALL_PREFIX if present.

[2018-03-23 19:28] miaoqi commented on #104
It is possible that the "illuminant" data path is problematic or set up correctly.

Did you set up your path to the "data"?

Thanks!

[2018-03-23 19:31] miaoqi commented on #105
Hi,

Which OS did you install it on?

you can also use the environment variable of "AMPAS_DATA_PATH" to set up the path to the data.

Thanks!

[2018-03-23 19:36] miaoqi opened #106 ""Cere-solver" update broke the regression process"
The recent update of "Ceres-solver" expects the option of "max_lbfs_rank" to be set correctly.

I have set its default value to be "50". It may slow down the regression process a little, but it works now.

You can re-build "rawtoaces" from:

https://github.com/miaoqi/rawtoaces/tree/feature/v1.0.1

This fix, along with a few others, will be merged into the master branch soon.

[2018-03-23 19:36] #106 closed

[2018-03-23 19:50] miaoqi commented on #103
Hi, have you posted a question on "libraw" forum?

[2018-04-03 17:05] maxnbk commented on #104
content of my environment variable AMPAS_ILLUMINANT_PATH contains single directory which contains iso7589_stutung_380_780_5.json , and AMPAS_CAMERA_SENSITIVITIES_PATH points to directory which contains arri, canon, nikon, sony jsons.
If I point it to directory one above, same error.

[2018-04-10 18:42] maxnbk commented on #105
So using AMPAS_DATA_PATH works.
Basically same issue as this issue, because the other two env vars have no effect, but data path works for both purposes.
https://github.com/ampas/rawtoaces/issues/104

[2018-07-17 20:14] agentirons commented on #103
Closing my issue as I don't have the time to implement the feature, maybe someone can take it up in the future.

[2018-07-17 20:14] #103 closed

[2018-09-15 19:00] laserpanda commented on #101
Any progress? O.o

[2018-12-03 07:40] chistof commented on #67
Hey guys, is there a compiled version of rawtoaces for Windows somewhere ? I'm about to start the adventure but since I compile things once every 4 years, if someone has done it and can share it, it would be a blast! Thanks!

[2018-12-20 13:36] IdrisMiles commented on #105
setting `AMPAS_DATA_PATH` does not work for the `cmf` and `training` data.

These are still hardcoded to:
[code]

Would it be possible to allow these to use `AMPAS_DATA_PATH` or their own unique env var?

[2019-08-11 12:14] ilia3101 opened #111 "Where is the camera spectral data from?"
Where did the [camera spectral data](https://github.com/ampas/rawtoaces/tree/master/data/camera) come from, or how was it created? I am interested in getting such data for more cameras but I have no clue about where to start.

I hope this is not too annoying/irrelevant, I'm just really curious.

[2019-08-16 20:02] KelSolaar commented on #111
It was acquired by the A.M.P.A.S. by @scottdyer using a monochromator among other devices.

[2019-08-16 20:06] scottdyer commented on #111
Actually, I only captured the data for the Nikon D700 and the two Sony a7 cameras. I'm not sure about the origin of the other data - it may have been provided by Jack Holm or from other experiments by @aforsythe

[2019-08-16 20:08] KelSolaar opened #112 ""spectral_data.index" attribute value should be fully specified in "data/training/training_spectral.json"."
Hi,

The `spectral_data.index` attribute value in the `data/training/training_spectral.json` file uses an ellipsis which is bad from a parsing standpoint:

https://github.com/ampas/rawtoaces/blob/25856b410497c57acb4f9e25f7840a0621c3a318/data/training/training_spectral.json#L22

While it is convenient from an authoring perspective it makes parsing unnecessarily complicated if one tries to correlate

[2019-08-16 20:11] aforsythe commented on #111
The D21 came from ARRI. Almost positive the other cameras came from Jack

[2019-08-16 20:53] KelSolaar commented on #111
Might be worth indicating in the README file or somewhere! :)

[2019-08-19 08:16] KelSolaar opened #114 ""illuminant" and "type" attributes are not described in "JSON Schema for Spectral Datasets"."
Hi,

I just noticed that the `illuminant` and `type` attributes are not described in the [JSON Schema for Spectral Datasets](https://github.com/ampas/rawtoaces#json-schema-for-spectral-datasets):

- *illuminant*: https://github.com/ampas/rawtoaces/blob/master/data/illuminant/iso7589_stutung_380_780_5.json#L4
- *type*: https://github.com/ampas/rawtoaces/blob/master/data/training/training_spectral.j

[2019-08-20 07:39] KelSolaar opened #115 "Description-like attribute values in spectral dataset could maybe adopt a nicer formatting."
Hi,

This is cosmetic, but looking at the model value for this file: https://github.com/ampas/rawtoaces/blob/966db3e785c1dee9e66e9844641360d78dcb495e/data/camera/canon_eos_5d_mark_ii_380_780_5.json#L5

I think we could adopt nicer formatting for it: `EOS 5D Mark II` vs `eos 5d mark ii`. It is very easy to come up with the latter from the former but the reverse is not true if not impossible without

[2019-08-21 08:36] jacob-danell commented on #67
Would love to have a windows-build with this but I got it running successfully using WSL on Windows, so we windows users aren't dead in the water at least!
Next thing will be to build a bat file to simply drag the raw files to, to convert them.

[2019-08-22 11:42] jacob-danell opened #116 "Get it running on Windows using WSL"
I got rawtoaces running on windows flawlessly using wsl (windows subsystem for linux). I made two batch files, one to install everything and another to convert with.
Until we can get an official windows version, maybe adding these batch files here would help windows users, at least the batch file that helps you convert the file. Or add a link to information on how to install a WSL distro and thus

[2020-01-08 22:09] ilia3101 opened #117 "A couple of questions about white balance"
I am considering adding EXR export support to [MLV App](https://github.com/ilia3101/MLV-App/issues/197). It is a raw converter (lightroom type app) for the magic lantern raw (MLV) format. Recently, EXR export has been suggested and I like the idea.

I want to make it possible to export ACES compliant EXR files, so I have a couple of questions about how rawtoaces does it:

My understanding is that

[2020-01-08 22:44] ilia3101 commented on #111
Thank you all for the answers. Sorry for leaving the issue open so long with no response. I also wanted to ask: Is there a chance that data for more cameras will be collected by AMPAS some time?

[2020-01-08 22:48] ilia3101 commented on #111
I originally opened this issue because I was experimenting with "IDT"s that use a 2d lookup table in xy space to correct colours a little more precisely than a matrix can. And spectral data is the best way to generate these for any illuminant. Is this of any interest to rawtoaces? I will publish some code for this soon.

[2020-08-05 16:06] thompsonalt commented on #116
This saved me a lot of time! Thanks Jacob.

[2020-09-10 10:39] bkamphues commented on #67
Hey there! Just like the other 2 people who already commented on a status update: is there any news on a Windows build?

[2020-09-10 10:43] EmberLightVFX commented on #67
You can make a build using WSL: https://github.com/ampas/rawtoaces/issues/116

[2020-09-10 10:44] bkamphues commented on #67
Yeah I know! I got that working perfectly, but we would like to use this tool on our Windows systems without having to use WSL. WSL is not really usable in terms of pipeline development.

[2020-09-10 10:47] KelSolaar commented on #67
Another alternative is Docker: https://github.com/ampas/rawtoaces/pull/118

[2020-09-10 10:48] bkamphues commented on #67
Ooh thanks! This is perfect! Hadn't even though of it!

[2020-10-14 23:21] JoeWise commented on #116
Thanks for this Jacob! Would this work just as well with WSL 2?

[2020-10-26 21:16] Ramel commented on #116
need to also install "git" and "curl"

[2020-11-27 10:55] NikolausDemmel opened #121 "ceres 2.0.0 compatibility"
Could you please look into what it would take to make rawtoaces compatible with the recently released ceres 2.0.0? This is currently blocking the version upgrade in macOS Homebrew.

In ceres 2.0.0. there are some minor API changes (probably not an issue), but more likely what needs attention is some smaller cmake changes, and also that it requires C++14 or newer.

Homebrew issue: https://github.co

[2021-01-11 16:36] cedricp opened #122 "ACES buffer memory leak"
Hi,
I'm using your library to convert raw footages, it works great, but my computer started to swap after some frames.
I identified that the method **AcesRender::outputACES** does not free the aces buffer. Adding a _delete[] aces_ after **acesWrite()** solved the issue. I think this library deserve a more robust API, I struggled a long time to include/link against it.

BTW, I'm trying to figure ou

[2021-02-16 04:41] ecpwll commented on #121
This hasn't yet been addressed yet, has it?  Since updating ceres while brew installing opencolorio rawtoaces no longer functions, nor am I able to reinstall.

[2021-06-29 17:46] easdale opened #123 "can't intal everything on mac"
Can anyone help me as I've tried installing all the various packages but only home brew and ceres worked. EVERYTHING else has given me errors 'command not found' when pasting into terminal something like  $ brew install rawtoaces

[2021-06-30 18:51] agentirons commented on #123
Hi @easdale.

"command not found" is odd, as that would mean macOS doesn't know where to find the `brew` command. Just to double-check, are you pasting `$ brew install rawtoaces` or `brew install rawtoaces` into Terminal? What happens if you type `brew --help` into Terminal?

[2021-07-04 20:12] KelSolaar commented on #123
Do you have Homebrew installed @easdale? https://brew.sh/

[2021-07-12 08:09] finnschi commented on #122
I have the same issue

[2021-07-18 15:43] mengtaiqi888 commented on #116
[RawToAces.zip](https://github.com/ampas/rawtoaces/files/6836534/RawToAces.zip)
I compiled a version for Windows.

[2021-08-19 16:11] cedricp commented on #122
Is this project alive ? I really want to figure out why the default scale (gain) is set to 6.0. What are the math behind it ?

[2021-09-12 23:04] riots100 commented on #123
Look like rawtoaces does not build on OSX Big Sur.
`Error: rawtoaces has been disabled because it does not build!`

[2021-09-22 00:58] michelerenzullo commented on #116
Finally! Thank u so much! Could u write how u did it? Because it requires so many dependencies and your build is very light, amazing job. Do you think is possible to create a static lib of ceres? In order to have a single executable. Thanks

[2021-09-24 23:23] michelerenzullo opened #124 "Full-working release version for Windows, static libs, no DLLs, runtime MD"
Hi, I enclose the release version for Windows full working with openmp support and with many fix about: FILEPATH, the missing "/" inside "/cmf..." and inside "/training...", path=".", openDir when NULL, memory-leaks after acesWrite. It has been very complicated to compile all the libs with VisualStudio, static libs, and fix the problems with windows. There is another version [here](https://github.

[2022-02-27 15:20] NicTanghe opened #125 "Unable to checjout windowBuildSupport"
git checkout windowBuildSupport

 pathspec 'windowBuildSupport' did not match any file(s) known to git

 when
[code]